
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header */
.header{
    background-image: url('../Assets/Hero-bg.png');
    margin: 0px auto ;
    padding-bottom: 200px;
    max-width: 1440px;
    max-height: 698px;
    text-align: center;
    
}


/* Shared style */
body{background-color: #D6DDED;}
.secondary-bg{
    background-color: #c0bee7;
}
.text-primary{
    color: #4E47FF;
}
.text-centre{text-align: center;}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.section-title{
    font-size: 80px;
    font-weight: bold;
    
}


/*Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight:bolder;
    font-size: 48px;
}

nav ol {
    
}

/* banner styles */
.banner{
     
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin: 200px 5px 10px 100px;
}


/* see it styles */
.see-it{
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 100px 100px ;
    max-width: 1140px;
    max-height: 328px;
}
.see-it-content{
    max-width: 517px;
    max-height: 203px;
    font-size: larger;
    justify-content:space-between;
    gap: 20;

    
}
.see-it-pic{
    width: 403px;
    height: 328px;
    padding: 12px 36px;
    border-radius: 80px;  
}
/* Main Styles */
main{max-width: 1140px;
margin: 0 auto;}

.about{
    border-radius: 24px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 80px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: large;
    color: rgb(22, 20, 20);
}
.item-title{
    font-size: 50px;
    font-weight: bold;
}

/* User Says style */
.Says{
    margin: 0 auto;
}
.User-Says{
    display: flex;
    gap: 20px;
}

.Say{
    padding: 20px;
}
.pic-Name{
    display: flex;
    font-size: small;
    padding-right: 20px;
    font-variant: initial;
    justify-content: left;}

    /* footer style */
    footer{
        padding: 130px 230px;
        display: flex;
        gap: 100px;
        max-width: 1140px;
        max-height: 306px;
        margin: 0 auto;
    }
  
    .footer-column{
        width: 50%;
    }

    footer input[type="text"],footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border:black
}

footer textarea{
    height: 135px;
    border-radius: 15px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 24px;
    border:black
}

.btn-primary-1{background-color: #4E47FF;
    width: 110%;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 160px;
    border-radius: 15px;
    border: none;
    margin-bottom: 24px;

}

/* last footer */

.logo{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 50px;
    text-align: center;
    gap: 30%;
}
.logo-title{
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
}

.logo-description{
    font-size: x-large;
    font-weight: 80px; 
}

.logo-name{
    font-size: x-large;
    gap: 10%;
    font-weight: 50px;
    text-indent: 20px;
    

}